@import url(https://db.onlinewebfonts.com/c/dd053b079ba96b177b08e16b81b3ae1f?family=F5x7+Dot+matrix+Character+LCD+font);

body {
  font-family: sans-serif;
}

html,
.fullscreen {
  background-color: rgb(155, 185, 0);
  color: rgb(80, 100, 30);
  display: flex;
  height: 100%;
  line-height: 1.5rem;
  margin: 0;
  width: 100%;
}

.container {
  padding: 1rem;
  text-align: left;
}

pre {
  font-family: "F5x7 Dot matrix Character LCD font";
}

.input,
.cursor {
  display: inline;
  font-size: 1rem;
  white-space: pre-wrap;
}

.blink {
  animation: 0.25s blink infinite 0.5s;
}

@keyframes blink {
  from, to {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}
