@import url(https://db.onlinewebfonts.com/c/dd053b079ba96b177b08e16b81b3ae1f?family=F5x7+Dot+matrix+Character+LCD+font);
@import url('https://fonts.googleapis.com/css2?family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.lcd-theme {
  --bg: rgb(155, 185, 0);
  --fg: rgb(80, 100, 30);
  --font: "F5x7 Dot matrix Character LCD font";
}

.eink-theme {
  --bg: #fffff8;
  --fg: #111111;
  --font: "Victor Mono";
}

body,
pre {
  font-family: var(--font);
  font-size: 20px;
}

html,
.fullscreen {
  background-color: var(--bg);
  color: var(--fg);
  display: flex;
  flex-direction: column;
  height: 100%;
  line-height: 1.5rem;
  margin: 0;
  width: 100%;
}

.container {
  flex-grow: 1;
  padding: 1rem;
  text-align: left;
}

footer {
  background-color: var(--fg);
  display: flex;
  gap: 1rem;
  padding: 1rem;

  a {
    color: var(--bg);
  }
}

.input,
.cursor {
  display: inline;
  white-space: pre-wrap;
}

.blink {
  animation: 0.25s blink infinite 0.5s;
}

@keyframes blink {
  from, to {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}
